* {
    box-sizing: border-box;
}

body{
    margin: 0;
}
header{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: cadetblue;
}
.header{
    height: 50px;
    background-color: red;
}

.slider{
    height: inherit; /* herda a altura da tela do elemento pai, que é o header */
    overflow: hidden; 
}

.slide--width{
    height: 100%;
    display: flex;
    transition: all ease 0.3s;
}

.slider--item{
    width: 100%;
    height: inherit;
    background-position: center;    
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-shadow: 0px 1px 1px #333;
    font-size: 50px;
    /* comentário no css */ 
}

.slider--controls{
    position: absolute;
    z-index: 99;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider--control-img1{
    width: 50px;
    height:50px;
    background-color: #FFF;
    border-radius:50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    background-image: url(https://w7.pngwing.com/pngs/591/793/png-transparent-left-arrow-button-icon-previous-button-angle-rectangle-triangle.png);
    background-size: cover;
}

.slider--control-img2{
    width: 50px;
    height:50px;
    background-color: #FFF;
    border-radius:50%;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    background-image: url(https://img1.gratispng.com/20180204/qoq/kisspng-arrow-button-icon-right-arrow-transparent-background-5a77bc2a39d211.9125852015177963942368.jpg);
    background-size: cover;
}